h1 {
 font-size: 50px;
 color: #052B57;
 text-align: center;
}

.box {
  height: 400px;
  width: 1200px;
  radius: ;
  background-color: #D6E5C4;
  padding: 10px;
  position: center;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  background-color: #ABBED5;
  width: 1210px;
  padding: 15px;
}