.header {
    height: 180px;
    background-color: #6495ED;
    color: #F0F8FF;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    padding: 50px;
}


body, html {
    background-color: #d1d1e0;
    text-align: center;
}




button{
   width: 350px;
   font-weight: 350;
   font-size: 20px;
   color: blue;
   background-color: #CEC4E5;
   border-radius: 30px;
   
}

.text{
    text-align: left;
    font-weight: 300;
    background-color: white;
    border-radius: 5px;
    margin: 10px 15px; 
}

.container { 
  height: 700px;
  position: relative;
  border: 5px solid yellow; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.box {
  height: 50px;
  width: 1200px;
  radius: ;
  background-color: #D6E5C4;
  text-align: center;
  padding: 10px;
  position: center;
  margin: auto;
}